<ul>
  <li><a class= "home_nav" href="http://flip3.engr.oregonstate.edu:8674/home">Home</a></li>
  <li><a class= "search_nav" href="http://flip3.engr.oregonstate.edu:8674/search">Search</a></li>
  <li><a class= "user_nav" href="http://flip3.engr.oregonstate.edu:8674/user">Login</a></li>
  <li><a class= "addHike_nav" href="http://flip3.engr.oregonstate.edu:8674/addhike">Add Hike</a></li>
  <li><a class= "rating_nav" href="http://flip3.engr.oregonstate.edu:8674/ratings">Ratings</a></li>
</ul>
<br>
<br>
<div>
	<div class="column4">
		<h2 align="center">Update the User(s) INFO in the Database</h2>
		<table align="center">
		<tbody>
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
			<tr>
				<td>{{person.username}}</td>
				<td>{{person.firstName}}</td>
				<td>{{person.lastName}}</td>
			</tr>
		</tbody>
	<form id="update-user" action="/user" method="post">
		Username: <input type="text" name="username" value="{{username}}"><br>
	    First name: <input type="text" name="firstName" value="{{firstName}}"><br>
	    Last name: <input type="text" name="lastName" value="{{lastName}}"><br>
	</form>
	<button onclick="updatePerson({{person.id}})">Update</button>
</div>